.header {
  text-align: center;
	background-color: #242424;
	color: #fff;
}
.body {
	text-align: left;
	background-color: #fff;
	color: #000
}
.footer {
	text-align: center;
	background-color: #aaa;
	color: #7a7a7a;
}
